:root {
    /* font-family: Noto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  */
    --clr-text: hsl(0, 0%, 0%);
    --clr-bg: hsl(0, 0%, 100%);
    /* para que todos los navegadores puedan tener la fuente, metes el embed code de google fonts en <head> */
    --text-font: "Noto Sans Mono", sans-serif;
    --text-size-footer: clamp(0.875rem, 0.7386rem+0.6818vw, 1.25rem);
    --text-size-header: clamp(1rem, 0.8rem + 1vw, 1.5rem);
    --padding-inline: clamp(1rem, -0.1429rem + 5.7143vw, 5rem);
}

* {
    /* problema del modelo de caja css, que suma el borde de los elementos; para que no te sume el ancho de los elementos incluidos el padding y el border */
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* para que sea la altura del viewport */
    min-height: 100vh;
    display: grid;
    /* para distribuir el espacio que ocupará header-main-footer , lo dejo como comentario porque ha sido uno de mis primeros errores y no quiero que se me olvide: el error estaba en que había muchísimo espacio en blanco y el resto del contenido estaba al final de la página; las fr reparten el espacio disponible, le estaba diciendo 200 veces el espacio de main a header... gafes del oficio*/
    grid-template-rows: auto 1fr auto;
    font-family: var(--text-font);
    /* para que al hacer scroll lateral en la página de proyectos el contenido no se desborde */
    overflow-x: hidden;
}

ul {
    /* para quitarle el punto a las listas */
    list-style-type: none;
}

main {
    width: 100vw;
    overflow: hidden;
}

/* HEADER */

.header {
    /* para hacer la disposición del header en fila con dos partes, al principio hice grid pero es más sencillo flex para lo que quiero */
    display: flex;
    justify-content: space-between;
    /* esto me da problemas porque las columnas ocupan más espacio de la cuenta, flex solo el que necesita, así que lo cambio de grid a flex*/
    /* para alinear entre sí los elementos del header al centro */
    align-items: center;
    /* con width:100% aseguras que ocupe todo el ancho */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    /* con flx-wrap he conseguido que no se desborde */
    flex-wrap: wrap;
    padding: 10px var(--padding-inline);
    font-size: var(--text-size-header);
}

.header__content {
    display: flex;
    flex-direction: row;

}

/* .header__list {
    display: flex;
    flex-direction: row;
    gap: 5px;
} */


/* para que se subraye la sección del header en la que se encuentre el usuario */
#header__item_underline {
    text-decoration: underline;
}

a {
    /* para quitar el underline a los links */
    text-decoration: none;
    color: var(--clr-text);
    /* transición suave, pero no la entiendo muy bien */
    transition: text-decoration 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

/* para quitar el underline de "portfolio" */
h1 a:hover {
    text-decoration: none;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    box-sizing: border-box;
    font-size: var(--text-size-footer);

    /* quiero que cada uno de los elementos esté centrado dentro de su contenedor */
    footer div {
        justify-content: center;
    }

    .footer__icons {
        height: 30px;
    }

    /* para centrar la justificación del texto del footer */
    .footer__text {
        text-align: center;
        margin: 0;
    }

    .footer__text p {
        margin: 0;
    }

    .footer__text_copy {
        font-size: small;
    }
}


.imagen-portada {
    /* Para que no se salga de la pantalla */
    max-width: 100%;
    height: auto;
    /* puse flex al principio pensando  que el siguiente elemento se pusiera abajo , pero vi el fallo y lo corregí*/
    display: block;
}

/* este es el breakpoint para mostrar img responsive, he decidido diseñar con mobile first, por lo que lo primero que se aplica será para móvil y después la condición para desktop */
.img-desktop {
    display: none;
}

.img-mobile {
    display: block;
}


/* ABOUT */

.about__section {
    display: grid;
    /* en móvil 1 columna y en desktop 2 */
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    padding: 1rem var(--padding-inline);

    .about__section_img {
        max-width: 100%;
        width: clamp (450px, 50px, 1000px);
    }
}

/* hay que definir la altura para permitir que el contenido se centre verticalmente */
.about__distribution {
    display: flex;

    /* Centra verticalmente */
    align-items: center;

    /* Centra horizontalmente */
    justify-content: center;

    /* Ocupa todo el alto que le da el main */
    height: 100%;

    width: 100%;
}

.about__section_img {
    width: calc(100% - 10px);
    max-width: 500px;
    object-fit: cover;
    display: block;
    margin: 0 auto;

}

.about__section_article {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact__main {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

    .contact__main_link {
        font-size: 3em;
    }

    /* a {
        font-weight: bold;
    } */

}

/* .section__slider {
    display: flex;
    align-items: center;
} */


/* PROJECTS */
/* Lo siguiente es para la página de proyectos, para presentar cada uno con scroll lateral */
.main__projects {
    width: 100%;
    height: auto;
}

.sticky-container {
    position: relative;
    /* No es sticky en móvil */
    display: block;
}

.projects-track {
    display: flex;
    /* para apilarlas en móvil en columna */
    flex-direction: column;
    gap: 2rem;
    padding: 2rem var(--padding-inline);
    align-items: center;
    flex-wrap: nonrap;
}

/* tarjeta de cada img */
.project-card {
    display: flex;
    flex-direction: column;
    position: relative;
    /* con esto evitas que se encojan para caber en la pantalla */
    flex-shrink: 0;
    width: 100%;
    max-width: 250px;
    ;
    text-decoration: none;
}

.project-card:hover {
    text-decoration: none;
}

/* características de cada imagen */
.project-card img {
    /* con esto consigues que ocupen el 100% del ancho de la card */
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    /* transición al aplicar cualquier cambio */
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    display: block;
}

/* efecto hover */
.project-card:hover img {
    /* con scale 1.06 agrandas el elemento un 6% más de su tamaño normal (que es =1), con overflow:hidden en la card recortas lo que se salga, para que el zoom ocurra hacia dentro sin romper el layout*/
    transform: scale(1.04);
    text-decoration: none;
}

/* etiqueta de cada proyecto */
.project-info {
    padding: 1rem 0;
    text-align: left;
    width: 100%;
}

.project-info p {
    margin: 0;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}


.project-info span {
    font-size: 0.75rem;
    opacity: 0.8;
    display: block;
}


@media (min-width: 768px) {
    .img-desktop {
        display: block;
    }

    .img-mobile {
        display: none;
    }

    /* ABOUT */
    /* Texto */
    .about__section {
        grid-template-columns: 1fr 1.2fr;
    }


    /* PROJECTS */
    body.body_projects {
        display: block !important;
        /* Quitamos el grid para evitar conflictos */
        overflow: hidden;
        width: 100%;
        margin: 0;
    }

    /* como el header y el footer se desbordaban, me parecía más fácil asegurarlo aquí directamente para que no se rompa la animación por tocar lo que no es */
    header,
    footer {
        width: 100%;
        max-width: 100vw;
        position: relative;
        z-index: 10;
        /* Para que siempre estén por encima del track */
        background-color: var(--clr-bg);
        /* Evita que se vea el track por debajo */
    }

    .main__projects {
        position: relative;
        display: block;
        width: 100%;
        overflow: visible;
        /* Obligamos al main a ocupar toda la pantalla */
        /* display: flex;
            align-items: center; */
        /* Centrado vertical */
        /* justify-content: center; */
        /* Centrado horizontal (opcional, pero ayuda) */
        /* overflow: hidden;
            position: relative; */
    }

    .sticky-container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        /* CENTRADO VERTICAL */
        overflow: hidden;
    }

    .projects-track {
        flex-direction: row;
        /* overflow-x: hidden; */
        flex-wrap: nowrap;
        /* width: fit-content; */
        padding: 0 10vw;
        gap: 5vw;
        /* justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem; */
        /* espacio para la barra de scroll */
        /* padding-bottom: 3rem; */
        /* ocultar barra scroll */
        /* scrollbar-width: none;
        -ms-overflow-style: none; */
        /* margin: 0; */
    }

    .projects-track::-webkit-scrollbar {
        display: none;
    }

    .project-card {
        width: 30vh;
        min-width: 250px;
        flex-shrink: 0;
        /* Evita que las tarjetas se aplasten */
        max-width: none;
    }
}